<h1>新規登録</h1>
<%=form_tag("/register/create") do%>
<p>氏名</p>
<input type="string" name="name">
<p>メールアドレス</p>
<input type="text" name="mail">
<p>パスワード</p>
<input type="password" name="password">
<p></p>
<input type="submit" value="登録">
<%end%>



